<!DOCTYPE html>
<!--
    This is an Embeded JavaScript Template (EJS) file, its the html template language for express
    This application uses materialze, a css framework based on google's material design
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
        Links to the Materialize framework
        seems like it works the same way as bootstrap
    -->
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href ="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Guitar Inventory</title>
</head>
<body>
    <%- include partials/nav -%>
    <div class="container">
        <h1 class="header">
            Guitar Inventory
        </h1>
        <a href="/guitars" class="btn">
            <!--I think this i tag stands for icon-->
            <i class="material-icons right">arrow_forward</i>
            Get Started!
        </a>
    </div>
</body>
</html>